/* resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*--- styles for nav component start ---*/
.navWrapper {
  padding: 12px;
  background-color: rgb(171, 238, 238);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.navWrapper .navItem {
  color: rgb(82, 71, 71);
  text-decoration: none;
  font-size: 18px;
  text-transform: capitalize;
}
/*--- styles for nav component end ---*/

/*--- styles for footer start ---*/
.footerWrapper {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgb(171, 238, 238);
  padding: 12px;
}
/*--- styles for footer end ---*/
