/* resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*--- styles for nav component start ---*/
.navWrapper {
  padding: 12px;
  background-color: rgb(171, 238, 238);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.navWrapper .navItem {
  color: rgb(82, 71, 71);
  text-decoration: none;
  font-size: 18px;
  text-transform: capitalize;
}
/*--- styles for nav component end ---*/

/*--- styles for footer start ---*/
.footerWrapper {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgb(171, 238, 238);
  padding: 12px;
}
/*--- styles for footer end ---*/

/*--- styles for signup page start---*/

.formWrapper {
  padding-top: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fieldWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.formWrapper .fieldWrapper .inputField {
  border: 1px solid rgb(168, 179, 177);
  border-radius: 6px;
  padding: 4px;
  width: 400px;
}

.formWrapper .fieldWrapper .signUpBtn {
  padding: 4px;
  border: none;
  outline: none;
  background-color: rgb(162, 162, 235);
  border-radius: 4px;
  cursor: pointer;
}

.err-text {
  margin-top: -15px;
  color: red;
  font-size: 12px;
  text-align: end;
}
/*--- styles for signup page end---*/

/*--- styles for product list page start ---*/
.products-wrapper {
  padding: 16px;
}
.products-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  padding: 16;
}

.products-table th,
.products-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.products-table th {
  background-color: #f4f4f4;
  font-weight: bold;
}

.products-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.products-table tr:hover {
  background-color: #f1f1f1;
}

.delete-btn {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.logout-btn {
  border: none;
  outline: none;
  background-color: transparent;
  color: red;
  cursor: pointer;
  font-size: 24px;
}

.delete-btn .icon-btn {
  color: red;
  font-size: 24px;
}

.edit-btn {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  margin-left: 8px;
}

.edit-btn .icon-btn {
  color: green;
  font-size: 24px;
}

.no-data-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 200px);
}

.btn-wrapper {
  display: flex;
  align-items: center;
  justify-self: center;
  flex-direction: column;
  gap: 16px;
}

.btn-wrapper .addBtn {
  padding: 8px;
  border-radius: 6px;
  border: none;
  outline: none;
  background-color: rgb(171, 171, 235);
  color: #1c51a1;
  cursor: pointer;
}

.search-wrapper input {
  padding: 8px;
  border-radius: 8px;
  outline: none;
  border: 1px solid gray;
  font-size: 16px;
}
/*--- styles for product list page end ---*/

/* --- style for profile page start--- */
.profile-container {
  width: 80%;
  background: white;
  margin:24px auto 0px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-info {
  text-align: center;
  padding: 50px 20px 20px;
}

.profile-name {
  font-size: 18px;
  font-weight: bold;
}

.profile-detail {
  color: gray;
  font-size: 14px;
}

.settings-section {
  border-top: 1px solid #eee;
}

.settings-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
}

.settings-item:last-child {
  border-bottom: none;
}

.toggle-switch {
  width: 40px;
  height: 20px;
  background: #ccc;
  border-radius: 20px;
  position: relative;
  display: inline-block;
}

.toggle-thumb {
  width: 16px;
  height: 16px;
  background: white;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  transition: 0.3s;
}

.profile-pic {
  height: 100px;
  width: 100px;
}

/* ---- styles for profile page end ---- */
